<EditForm Model="@jobpost" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="form-group">
        <label> No.of Years </label>
        <div>
            <InputNumber @bind-Value="@jobpost.NumberOfYears" class="form-control" />
            <ValidationMessage For="@(()=>jobpost.NumberOfYears)" />
        </div>
    </div>

    <div class="form-group">
        <label> Number of months</label>
        <div>
            <InputNumber @bind-Value="@jobpost.NumberOfMonths" class="form-control" />
            <ValidationMessage For="@(()=>jobpost.NumberOfMonths)" />
        </div>
    </div>

    <div class="form-group">
        <label> Salary </label>
        <div>
            <InputNumber @bind-Value="@jobpost.Salary" class="form-control" />
            <ValidationMessage For="@(()=>jobpost.Salary)" />
        </div>
    </div>
    <div class="form-group">
        <label> Position </label>
        <div>
            <InputText @bind-Value="@jobpost.Position" class="form-control" />
            <ValidationMessage For="@(()=>jobpost.Position)" />
        </div>
    </div>
    <div class="form-group">
        <label> Benefits </label>
        <div>
            <InputText @bind-Value="@jobpost.Benefits" class="form-control" />
            <ValidationMessage For="@(()=>jobpost.Benefits)" />
        </div>
    </div>

    <div class="form-group">
        <label> Responsiblity</label>
        <div>
            <InputText @bind-Value="@jobpost.Responsiblity" class="form-control" />
            <ValidationMessage For="@(()=>jobpost.Responsiblity)" />
        </div>
    </div>


    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }

    <BackToList Target="jobPost" />
</EditForm>

@code {
	[Parameter] public bool Disabled { get; set; } = false;
	[Parameter] public JobPosting jobpost { get; set; }
	[Parameter] public string ButtonText { get; set; } = "Save";
	[Parameter] public EventCallback OnValidSubmit { get; set; }
}